@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-seashell-white: #F2F1F0;
  --color-congress-blue: #034C8C;
  --color-congress-blue-50: #f0f7ff;
  --color-congress-blue-100: #DFEEFF;
  --color-congress-blue-200: #b8dfff;
  --font-sans-narrow: "PT Sans Narrow", sans-serif;
}